@import "tailwindcss";

:root {
  --background: #FBFBFB;
  --foreground: #1D1D1F;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20;
  }
}
